= javascript_for_validatious
- semantic_form_for @person, :html => {:class => 'validate', :id => current_form } do |f|
	%p
	- f.inputs do
		= f.input :age, :label => 'Age'
		%br
		= f.input :status, :label => 'Status', :collection => ["alive", "deceased"]
		%br
		= f.input :city_of_birth, :label => 'City of birth'
		-# This is the auto-generate bit
		%br
		= f.submit "Submit", :style => "display:none;"
		- if !last_form.nil?
			= link_to_function "back", "back_form( $('##{current_form}'), $('##{last_form}'))"
		= link_to_function "submit - javascript", "copy_form( $('##{current_form}'), " + (next_form == 'last' ? "'last'" : "$('##{next_form}')") + " )"