= javascript_for_validatious
- semantic_form_for @person, :html => {:class => 'validate', :id => current_form } do |f|
	%p
	- f.inputs do
		= f.input :comments, :label => 'Comments'
		-# This is the auto-generate bit
		%br
		= f.submit "Submit", :style => "display:none;"
		= link_to_function "submit - javascript", "copy_form( $('##{current_form}'), " + (next_form == 'last' ? "'last'" : "$('##{next_form}')") + " )"