= javascript_for_validatious
- semantic_form_for @person, :html => {:class => 'validate', :id => current_form } do |f|
	%p
	- f.inputs do
		= f.input :comments, :label => 'Comments'
		-# This is the auto-generate bit
		%br
		= f.submit "Submit", :style => "display:none;"
		= button_to_function "back", "back_form( $('##{current_form}'), $('##{last_form}'))", :style => "display:#{last_form.nil? ? 'none' : 'inline'};"
		= button_to_function "submit", "copy_form( $('##{current_form}'), " + (next_form == 'last' ? "'last'" : "$('##{next_form}')") + " )"
