!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
	%head
		%title= "#{controller.class.to_s}: #{controller.action_name}"
		%meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
		%link{ :rel => "shortcut icon", :href => "/favicon.ico" }
		= stylesheet_link_tag "application", :media => "screen"
		= javascript_include_tag :defaults
		= stylesheet_link_tag 'formtastic.css', 'formtastic_changes', :cache => :formtastic
		= javascript_include_tag 'XMLHttpRequest' ,'v2.standalone.full.min', 'v2.config', 'v2.rails', :cache => 'v2'
		= javascript_tag "v2.Field.prototype.positionErrorsAbove = false; v2.Fieldset.prototype.positionErrorsAbove = false; v2.Fieldset.prototype.messagesClass = 'errors'; v2.Fieldset.prototype.failureClass = 'error'; v2.Fieldset.prototype.successClass = ''; v2.Field.prototype.messagesClass = 'errors'; v2.Field.prototype.failureClass = 'error'; v2.Field.prototype.successClass = ''; v2.Field.prototype.displayErrors = 1; v2.Form.actionButtonClass = 'commit'"
		= javascript_for_validatious
		
	%body
		#wrapper
			#content
				%h1 Mp
				#flash
					- unless flash.empty?
						= content_tag :div, flash[:notice],	 :class => "notice"	 if flash[:notice]
						= content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
						= content_tag :div, flash[:error],	 :class => "error"	 if flash[:error]
					:javascript
						#{visual_effect :highlight, "flash"}
				= yield
